/*
    Folha de estilo do site Fabio Rezende | One Page Site
    Author Fabio Rezende
    fabiorez.github.io
*/
/* Importação Google Fonts ---------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* CSS Reset -----------------------------------------------*/
* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

/* Layout */
.container {
    margin: 0 auto;
}

.Flex {
    display: flex;
    justify-content: space-between;
}

.Imagem {
    border: 2px solid var(--inicio-color);
    width: 15rem;
    border-radius: 150px;
}

/* topo do site */
#botaoTopo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* root */
:root {
    --inicio-background-color: #2c3e50;
    --inicio-color: #fff;
    --li-a-hover: #1CB697;
    --shadow: #000;
}

/* Smartphone Portrait -------------------------------------*/

/* Cabecalho */
#inicio {
    padding: 0.5rem 1rem;
    background-color: var(--inicio-background-color);
    color: var(--inicio-color);
}

#logo {
   font-weight: 700; 
   padding-top: 20px;
   padding-left: 15px;
   font-size: 20px;
}

#check {
    display: none;
}

label {
    font-size: 3em;
    padding-right: 15px;
}

nav ul {
    list-style: none;
    background-color: var(--inicio-background-color);
    height: 100vh;
    position: fixed;
    top: 80px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
    font-weight: 700;
}

#check:checked ~ ul {
    right: 0;    
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;    
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

    /* Destaque */
    main {
        padding-top: 6rem;
        padding-bottom: 6rem;
        height: 75vh;
        background-color: var(--li-a-hover);
        color: var(--inicio-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    main h1 {
        padding-top: 20px;
        font-size: 2.75em;
    }

    main h2 {
        font-size: 1.25rem;
        margin: 20px 0px 0px 0px;
        font-weight: 400;
    }

/* Smartphone Landscape ------------------------------------*/
@media (min-width: 576px) {
    /* Layout */
    .container {
        max-width: 540px;
    }

    /* Destaque */
    main {
        height: 120vh;
    }


/* Tablet Portrait -----------------------------------------*/
@media (min-width: 768px) {
    /* Layout */
    .container {
        max-width: 720px;
    }

    /* Destaque */
    main {
        height: 45vh;
    }

    main h1 {
        font-size: 5.5em;
    }

    main h2 {
        font-size: 2em;
    }
}

/* Tablet Landscape ---------------------------------------*/
@media (min-width: 992px) {
    /* Layout */
    .container {
        max-width: 960px;
    }

    /* Destaque */
    main {
        height: 70vh;
    }
}

/* PC -----------------------------------------------------*/
@media (min-width: 1200px) {
    /* Layout */
    .container {
        max-width: 1140px;
    }

    /* Cabecalho */
    #inicio {
        height: 120px;        
    }

    #logo {
        width: 189px;
        height: 189px;
        margin-top: 30px;
    }
    
    label {
        display: none;
    }

    nav ul {
        position: static;
        height: auto;
        background-color: transparent;        
        margin-top: 50px;
    }

    nav ul li {
        float: left;
        border: 0;                
    }

    nav ul li a {
        color: var(--inicio-color);
    }

    nav ul li a:hover {
        color: var(--li-a-hover);
    }
}